@import "../../styles/helpers.scss";

.back-to-top {
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 0.8;
    color: $primary;

    position: fixed;
    bottom: 30px;
    right: 30px;

    outline: none;
    box-shadow: 0px 3px 3px $font-color;

    i {
        color: $primary;
    }
}

.back-to-top:hover {
    opacity: 1;
}
