@import "../../styles/helpers.scss";

.header-mobile {
    z-index: 100;

    width: 100%;
    border: solid 1px;
    background-color: $white;

    .permanent-header {
        border: solid 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        .header-logo {
            height: 75px;
            cursor: pointer;
        }

        i {
            font-size: 26px;
            cursor: pointer;
        }
    }

    .mobile-menu {
        overflow: auto;
        max-height: 0px;
        transition: max-height 0.2s;

        .category {
            list-style: none;
            border: solid 1px;

            .title {
                font-weight: bold;
                font-size: 18px;
                width: 100%;
                cursor: pointer;
            }

            .menu-dropdown {
                max-height: 0px;
                transition: max-height 0.2s;
                overflow-y: auto;
                padding-left: 30px;
            }

            .menu-dropdown.open {
                max-height: 8000px;
            }

            .subcategory {
                .sub-title {
                    font-weight: bold;
                    font-size: 16px;
                    cursor: pointer;
                }

                .sections {
                    padding-left: 10px;
                    border-left: solid 1px $secondary;
                    max-height: 0px;
                    transition: max-height 0.2s;
                    overflow-y: auto;

                    &.open {
                        max-height: 8000px;
                    }

                    .section {
                    }
                }
            }
        }
    }

    &.open {
        .mobile-menu {
            max-height: 50vh;
        }
        i {
            color: $primary;
        }
    }

    &.shadow {
        box-shadow: 0px 5px 8px $font-color;
    }
}
