@import "../../styles/helpers.scss";

.breadcrumbs {
    border: solid 1px;
    margin: 10px 0px;
    margin-right: 10px;
    background-color: $grey;

    .crumb {
        margin-right: 20px;

        .arrows {
            margin-right: 20px;
        }

        span {
            font-weight: bold;
        }
    }
}
